<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="./../assets/css/style.css">
    
</head>
<body>
    <a href="./kasia">Klik</a>
    <h1>Zajęcia 25-04</h1>
    <h2>{{subTitle}}</h2>
    <h2>{{newVar}}</h2>

    <input type="text" id="example">
    <button id="btn">Klik</button>
    <p id="tekst"></p>


    <script src="./../js/func.js"></script>
</body>
</html>